/* COMMON */
*{margin:0; padding:0;}
body{background:#FFFFFF; font-family:Arial; color:#000000;}
ul{list-style-type:none;}
a{text-decoration:underline;}
a:link{color:#000000;}
a:visited{color:#000000;}
a:hover{color:#0000FF;}
a:active{color:#000000;}
input[type=radio], input[type=checkbox]{border: none;}
input[type=submit]{color:#FFFFFF; background:#333333; border:none; padding:3px;}
input[type=submit]:hover{background:#111111; cursor: pointer;}
input{margin:2px; border:solid 1px #000000;}
label{width: 100px; float: left; text-align: right; margin-right: 0.5em; display: block; clear:left;}

/* MAIN BLOCKS */
body{background: #f5f5f5;}
#root { margin:0 auto; width: 1000px; position: relative}
#header { margin-top: 10px;height:30px; background:#333333; font-size:14px; color:#FFFFFF; clear: both; line-height:28px; margin-bottom:10px;}
#main-menu { width:240px; border:solid #000000 1px; float:left; padding:5px; color:#000000; }
#display { width:702px; border:solid #000000 1px; float:right; padding:15px; font-size:smaller; }
#footer { text-align:center}
#content { color:#000000; }

/* TOP MENU */
#username { position:relative; float:left; }
#username span { font-style:italic; margin-left:10px; }
#top-menu { position:relative; float:right; text-align:right; margin-right:10px; }
#top-menu a { color:#fff; margin:0 5px; font-family: sans-serif;}
#top-menu a:hover { text-decoration:underline; }

/* NAVIGATION MENU */
#main-menu > ul {}
#main-menu > ul > li { font-weight:bold; font-size:15px; font-family: sans-serif; color: #222222}
#main-menu > ul > li > ul { padding: 10px; margin-left: 12px;}
#main-menu > ul > li > ul > li {list-style-type: disc; font-weight:normal; font-size:smaller; text-decoration:underline; font-family: sans-serif; padding: 2px;}

/* LOGIN */
#login-form{position:relative; width:350px; margin-left:auto; margin-right:auto;}

/* GRAPHS */
#view{border:solid 1px #000000;}
.update_chart{padding: 7px}
.update_submit{margin: 7px}
#filters{ float:left; display:block;}
#save{float:left;}
#select-area{border:solid 1px #000000; border-radius:5px; -moz-border-radius:5px; padding:5px; position:absolute; display:none; background:#FFFFFF;}

.rounded{border-radius:5px}
.white{background:#ffffff}
.clear{clear: both; height:30px}
.first-level{margin-left: 4px; margin-top: 6px;}
.bottom-line{border-bottom: 1px solid}